**
!services/
!services/omr/
!services/omr/*.py
!services/omr/requirements.txt
!services/omr/model-checksums.json
!services/omr/homr-model-checksums.json
!services/omr/COPYING.homr
!services/omr/RECOGNIZER-LICENSE.md
!services/omr/certificates/
!services/omr/certificates/*.pem
!services/omr/Dockerfile
!services/omr/entrypoint.sh
!services/omr/requirements-lock.txt
!services/omr/README.md
services/omr/.venv*
services/omr/**/__pycache__
services/omr/**/__pycache__/**
services/omr/research/
services/omr/research/**
